.delete {
  all: unset;
  color: #ffffff;
  background-color: #d60000;
  font-size: 11pt;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px 5px;
  transition: all 0.2s;
}

.delete:hover {
  background-color: #c40000;
}
