nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 0.5vw;
  background-color: #eee;
  color: #607D8B;
  border-radius: 4px;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a:active {
  color: #039be5;
}

@media (max-width: 500px) {
  nav {
    font-size: 1.75vw;
  }
}
