*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "one two three four five";
  grid-gap: 7.5px;
}

.module0 {
  grid-area: one;
}

.module1 {
  grid-area: two;
}

.module2 {
  grid-area: three;
}

.module3 {
  grid-area: four;
}

.module4 {
  grid-area: five;
}

.module {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #eee;
  height: 15vh;
  margin: 0;
  background-color: #607D8B;
  border-radius: 2px;
  transition: all 0.3s ease-out;
}

.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
  transform: scale(1.05);
  box-shadow: 0px 1px 5px #808080;
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-template-areas: "one two" "three four" "five five";
    grid-row-gap: 7.5px;
    grid-column-gap: 5px;
  }
  .module {
    height: 10vh;
    font-size: 9pt;
  }
  .module4 .module {
    height: 15vh;
  }
}
